/*
    phone       = 0px   - 600px
    tab-port    = 601px - 900px
    tab-land    = 901px - 1200px
    big-desk    = 1800px +
    
    1201px - 1799px don't use it
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%); }
  80% {
    -webkit-transform: translateX(2.5%);
    transform: translateX(2.5%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%); }
  80% {
    -webkit-transform: translateX(2.5%);
    transform: translateX(2.5%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(25%);
    transform: translateX(25%); }
  80% {
    -webkit-transform: translateX(-2.5%);
    transform: translateX(-2.5%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(25%);
    transform: translateX(25%); }
  80% {
    -webkit-transform: translateX(-2.5%);
    transform: translateX(-2.5%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 1.5rem; } }
  @media (max-width: 37.5em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  text-transform: uppercase;
  color: #f7f7f7;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    -webkit-animation: moveInLeft 1s ease-out;
    animation: moveInLeft 1s ease-out;
    font-size: 6rem;
    letter-spacing: 3.25rem;
    font-weight: 400;
    margin-bottom: 1rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 1rem; } }
  .heading-primary--sub {
    display: block;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out;
    font-size: 2rem;
    letter-spacing: 1.6rem;
    font-weight: 700; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem; } }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #28b485; }
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    .heading-secondary {
      background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
      background-image: linear-gradient(to right, #7ed56f, #28b485);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; } }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.2rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.8rem; } }
  .heading-secondary:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4); }
    @media (max-width: 37.5em) {
      .heading-secondary:hover {
        -webkit-transform: translateY(-1rem) scale(1.04);
        transform: translateY(-1rem) scale(1.04); } }

.heading-tertiary {
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: .2;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.booking-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s; }
  .booking-popup__bg {
    padding: 200%; }
  .booking-popup:target {
    opacity: 1;
    visibility: visible; }
  .booking-popup__box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto auto;
    max-width: 90%;
    max-height: 90%;
    background-color: #f7f7f7;
    border-radius: 4px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translate(-50%, -50%) scale(0.4);
    transform: translate(-50%, -50%) scale(0.4);
    display: table; }
  .booking-popup:target .booking-popup__box {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  .booking-popup__left {
    display: table-cell;
    vertical-align: middle;
    width: 33.3%; }
    @media (max-width: 56.25em) {
      .booking-popup__left {
        display: none; } }
  .booking-popup__img {
    display: block;
    width: 100%;
    margin: auto 0; }
    @media (max-width: 56.25em) {
      .booking-popup__img {
        display: none; } }
  .booking-popup__right {
    display: table-cell;
    vertical-align: middle;
    width: 66.7%;
    padding: 2rem 4rem; }
    @media (max-width: 56.25em) {
      .booking-popup__right {
        width: 100%; }
        .booking-popup__right h2 {
          display: none; } }
  .booking-popup__text {
    font-size: 1.4rem;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-column-rule: 2px solid #eee;
    column-rule: 2px solid #eee; }
    @media (max-width: 56.25em) {
      .booking-popup__text {
        -webkit-column-gap: 1rem;
        column-gap: 1rem;
        -webkit-column-rule: 1px solid #eee;
        column-rule: 1px solid #eee; } }
  .booking-popup__close:visited, .booking-popup__close:link {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    color: #777; }
  .booking-popup__close:hover, .booking-popup__close:active {
    color: #55c57a; }

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.6rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:focus, .btn:active {
  outline: none;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #55c57a;
  display: inline-block;
  border-bottom: 1px solid #55c57a;
  padding: 4px;
  font-size: 1.8rem;
  -webkit-transition: .2s;
  transition: .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  border-bottom: 1px solid #55c57a;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn-text:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  -webkit-perspective: 150rem;
  perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    color: #777;
    position: absolute;
    height: 52rem;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side--back {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .card__picture--1 {
          background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.35), rgba(255, 119, 48, 0.35)), url(../img/nat-5.jpg); } }
    .card__picture--2 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../img/nat-6.jpg);
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .card__picture--2 {
          background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.35), rgba(40, 180, 133, 0.35)), url(../img/nat-6.jpg); } }
    .card__picture--3 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .card__picture--3 {
          background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.35), rgba(86, 67, 250, 0.35)), url(../img/nat-7.jpg); } }
  .card__details {
    padding: 2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.6rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 2px solid #eee; }
        .card__details ul li:last-child {
          font-weight: 700;
          font-size: 1.8rem; }
  .card__cta {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center; }
  .card__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #eee;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 68.75%; }
    .card__heading-span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading-span--1 {
        padding: 1rem;
        background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.9)), to(rgba(255, 119, 48, 0.9)));
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.9), rgba(255, 119, 48, 0.9)); }
      .card__heading-span--2 {
        padding: 1rem;
        background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.9)), to(rgba(40, 180, 133, 0.9)));
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.9), rgba(40, 180, 133, 0.9)); }
      .card__heading-span--3 {
        padding: 1rem;
        background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.9)), to(rgba(86, 67, 250, 0.9)));
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.9), rgba(86, 67, 250, 0.9)); }
  .card__price-box {
    margin-bottom: 4rem;
    text-transform: uppercase;
    color: #eee; }
  .card__price-only {
    font-weight: 700;
    font-size: 1.4rem; }
  .card__price-value {
    font-weight: 100;
    font-size: 7rem; }
  @media (max-width: 75em) {
    .card {
      background-color: #fff;
      border-radius: 4px;
      height: auto;
      -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
      .card__side {
        border-radius: 0;
        position: relative;
        height: auto;
        overflow: visible;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .card__side--back {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg); }
      .card__picture {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card__cta {
        padding: 7rem 4rem 4rem;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: translate(0);
        transform: translate(0); }
      .card__heading {
        font-size: 2.4rem;
        top: 17rem;
        width: 95%;
        right: 1rem; }
      .card__price-box {
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: #eee; }
      .card__price-only {
        font-size: 1.6rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    -webkit-transition: .2s;
    transition: .2s;
    outline-offset: 0;
    outline: 0 solid transparent; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 55%; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem;
      z-index: 5; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      z-index: 6; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      z-index: 7; }
    .composition__photo:hover {
      -webkit-transform: scale(1.1) translateY(-1rem);
      transform: scale(1.1) translateY(-1rem);
      z-index: 20;
      outline-offset: 1.5rem;
      outline: 1rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-transition: .2s;
  transition: .2s; }
  .feature-box:hover {
    -webkit-transform: scale(1.1) translateY(-2rem);
    transform: scale(1.1) translateY(-2rem); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .75rem;
    display: inline-block;
    color: #28b485; }
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      .feature-box__icon {
        background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .25s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__input:focus:valid {
      border-bottom: 3px solid #55c57a; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  transition: all .5s;
  margin-left: 2rem;
  margin-top: 1rem;
  display: block; }

.form__input:placeholder-shown + .form__label {
  font-weight: 400;
  opacity: 0;
  transform: translateY(-3rem);
  visibility: hidden; }

.form__radio-group {
  width: 49%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      display: block;
      padding: 1rem; } }

.form__radio-label {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem; }

.form__radio-button {
  width: 3rem;
  height: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  top: -.5rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #55c57a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s;
    opacity: 0; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.img-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s; }
  .img-popup__bg {
    padding: 200%; }
  .img-popup:target {
    opacity: 1;
    visibility: visible; }
  .img-popup__box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto auto;
    max-width: 90%;
    max-height: 90%;
    background-color: transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translate(-50%, -50%) scale(0.4);
    transform: translate(-50%, -50%) scale(0.4);
    background-size: cover;
    background-position: center;
    padding: 22.5% 45%; }
    .img-popup__box--1 {
      background-image: url(../img/nat-1-large.jpg); }
    .img-popup__box--2 {
      background-image: url(../img/nat-2-large.jpg); }
    .img-popup__box--3 {
      background-image: url(../img/nat-3-large.jpg); }
  .img-popup:target .img-popup__box {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  .img-popup__prev {
    left: 0%; }
  .img-popup__next {
    right: 0%; }
  .img-popup__prev:link, .img-popup__prev:visited, .img-popup__next:link, .img-popup__next:visited {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 100% 1.5rem;
    text-decoration: none;
    font-weight: 900;
    color: transparent;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-size: 3rem; }
  .img-popup__prev:hover, .img-popup__next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff; }
  .img-popup__close:visited, .img-popup__close:link {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 5rem;
    font-weight: 900;
    line-height: 0.6;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff; }
    @media (max-width: 56.25em) {
      .img-popup__close:visited, .img-popup__close:link {
        top: 1rem;
        right: 1rem; } }
  .img-popup__close:hover, .img-popup__close:active {
    color: #55c57a; }

.story {
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 4rem;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 90%;
      padding: 2rem;
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg); } }
  .story > * {
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg); }
    @media (max-width: 56.25em) {
      .story > * {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg);
    margin-right: 2rem;
    overflow: hidden;
    border-radius: 50%;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); }
    @media (max-width: 56.25em) {
      .story__shape {
        -webkit-transform: skewX(0deg);
        transform: skewX(0deg); } }
  .story__img {
    height: 110%;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story:hover .story__img {
    -webkit-transform: scale(1.2) translateX(-25%);
    transform: scale(1.2) translateX(-25%);
    -webkit-filter: blur(2px) brightness(0.7);
    filter: blur(2px) brightness(0.7); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(100%) translateY(-50%);
    transform: translateX(100%) translateY(-50%);
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    font-size: 1.4rem;
    opacity: 0; }
  .story:hover .story__caption {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    opacity: 1; }

.footer {
  font-size: 1.6rem;
  background-color: #333;
  padding: 10rem 4rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto;
    -webkit-transition: .5s;
    transition: .5s; }
  .footer__logo:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  .footer__nav, .footer__copyright {
    display: inline-block;
    padding-top: 2rem;
    border-top: 1px solid #55c57a;
    width: 90%; }
    @media (max-width: 56.25em) {
      .footer__nav, .footer__copyright {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none;
    float: left; }
    @media (max-width: 56.25em) {
      .footer__list {
        width: 100%; } }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1rem; }
  .footer__link:link, .footer__link:visited {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-bottom: 1px solid transparent; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    border-bottom: 1px solid #55c57a; }
  .footer__copyright {
    color: #eee;
    float: right;
    text-align: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        text-align: center; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 55rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 40rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3 ) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem); }

.header {
  height: 87.5vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero-small.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  position: relative;
  background-position: top;
  background-size: cover; }
  @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
      height: 92.5vh; } }
  @media (min-width: 37.6em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 37.6em) and (min-resolution: 192dpi), (min-width: 125em) {
    .header {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 56.25em) {
    .header {
      height: 100vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 95%);
      clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 95%); } }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
    @media (max-width: 56.25em) {
      .header__logo-box {
        top: 4rem;
        left: 4rem; } }
  .header__logo {
    height: 5rem; }
  .header__textbox {
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 110;
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  background-color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }

.navigation__icon {
  position: relative;
  margin: 50% 0; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #777;
    -webkit-transition: all .3s, background-color .1s;
    transition: all .3s, background-color .1s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    bottom: .8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  bottom: 1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    bottom: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.navigation__background {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  visibility: hidden;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 100;
  -webkit-transition: all 0.8s cubic-bezier(0.9, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.9, 0, 0.07, 1);
  background-image: radial-gradient(#7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(100);
  transform: scale(100);
  visibility: visible; }

.navigation__nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 0;
  height: 100vh;
  z-index: 105;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.7, -0.5, 0.25, 1.5);
  transition: all 0.8s cubic-bezier(0.7, -0.5, 0.25, 1.5); }
  @media (max-width: 56.25em) {
    .navigation__nav {
      width: 100vw; } }

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
  width: 100vw; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin: .5rem;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 300%; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 2rem 20rem;
  margin-top: -30vh; }

@media (max-width: 75em) and (min-height: 56.25em) {
  .section-about {
    padding: 45rem 2rem 25rem; } }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 25rem 2rem; } }
  @media (max-width: 56.25em) and (min-height: 56.25em) {
    .section-about {
      padding: 40rem 2rem 32.5rem; } }
  @media (max-width: 56.25em) and (min-height: 75em) {
    .section-about {
      padding: 50rem 2rem 37.5rem; } }

.section-features {
  margin-top: -15vh;
  padding: 20rem 2rem;
  background-size: cover;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  transform: skewY(-7.5deg); }
  @media (max-width: 56.25em) {
    .section-features {
      transform: skewY(-6deg);
      padding: 22.5rem 2rem 15rem; } }
  @media (max-width: 37.5em) {
    .section-features {
      transform: skewY(-5deg);
      padding: 17.5rem 2rem; } }
  .section-features > * {
    transform: skewY(7.5deg); }
    @media (max-width: 56.25em) {
      .section-features > * {
        transform: skewY(6deg); } }
    @media (max-width: 37.5em) {
      .section-features > * {
        transform: skewY(5deg); } }

.section-tours {
  background-color: #f7f7f7;
  padding: 20rem 2rem;
  margin-top: -15vh; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 22.5rem 2rem 10rem; } }
  @media (max-width: 56.25em) and (min-height: 75em) {
    .section-tours {
      padding: 30rem 2rem 10rem; } }

.section-stories {
  padding: 15rem 2rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 2rem; } }

.section-book {
  padding: 15rem 4vw;
  margin-top: -5vh;
  position: relative;
  background-image: linear-gradient(to right, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 10rem 2rem; } }

.book {
  background-image: linear-gradient(102deg, rgba(255, 255, 255, 0.9) 45%, transparent 45%), url(../img/nat-10.jpg);
  background-size: cover;
  height: fit-content;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(102deg, rgba(255, 255, 255, 0.9) 55%, transparent 35%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.75)), url(../img/nat-10.jpg); } }
  .book__form {
    width: 45%;
    padding: 4rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 55%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
