@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
    phone       = 0px   - 600px
    tab-port    = 601px - 900px
    tab-land    = 901px - 1200px
    big-desk    = 1800px +
    
    1201px - 1799px don't use it
*/

@mixin resp($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };    // max 600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };   // max 900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };      // max 1200px
    }

    @if $breakpoint == big-desk{ 
        @media (min-width: 112.5em) { @content };   // min 1800px
    }
}