$color-white: #fff;
$color-grey-light: #f7f7f7;
$color-grey-dark: #999;
$color-black: #000;

$color-text-light: #eee;
$color-text: #777;
$color-text-dark: #333;

$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$grid-width: 114rem;
$grid-width-small: 55rem;
$grid-width-smallest: 40rem;
$grid-gutter-x: 4rem;
$grid-gutter-y: 8rem;
$grid-gutter-y-small: 6rem;
