.footer {
    font-size: 1.6rem;
    background-color: #333;
    padding: 10rem 4rem;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        & > .row > * {
            margin-right: 0 !important;
        }
    }

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;

        & > img,
        & > source {
            -webkit-transition: 0.5s;
            transition: 0.5s;

            &:hover {
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }

    &__nav,
    &__copyright {
        display: inline-block;
        padding-top: 2rem;
        border-top: 1px solid $color-primary;
        width: 90%;

        @include resp(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
        float: left;

        @include resp(tab-port) {
            width: 100%;
        }
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: $color-text-light;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        border-bottom: 1px solid transparent;
    }

    &__link:hover,
    &__link:active {
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
    }

    &__copyright {
        color: $color-text-light;
        float: right;
        text-align: right;

        @include resp(tab-port) {
            text-align: center;
        }
    }
}
