.header {
    height: 87.5vh;

    background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(rgba($color-primary-light, 0.8)),
            to(rgba($color-primary-dark, 0.8))
        ),
        url(../img/hero-small.jpg);

    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)
        ),
        url(../img/hero-small.jpg);
    position: relative;
    background-position: top;
    background-size: cover;

    @supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        height: 92.5vh;
    }

    @media (min-width: 37.6em) and (-webkit-min-device-pixel-ratio: 2),
        (min-width: 37.6em) and (min-resolution: 192dpi),
        (min-width: 125em) {
        background-image: -webkit-gradient(
                linear,
                left top,
                right bottom,
                from(rgba($color-primary-light, 0.8)),
                to(rgba($color-primary-dark, 0.8))
            ),
            url(../img/hero.jpg);
        background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8)
            ),
            url(../img/hero.jpg);
    }

    @include resp(tab-port) {
        height: 100vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }

    @include resp(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 95%);
        clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 95%);
    }

    &__logo-box {
        position: absolute;
        top: 6rem;
        left: 6rem;

        @include resp(tab-port) {
            top: 4rem;
            left: 4rem;
        }
    }

    &__logo {
        height: 5rem;
    }

    &__textbox {
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
