.header {
    height: 92.5vh;

    background-image: linear-gradient( 
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)), 
    url(../img/hero.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    position: relative;
    background-position: top;
    background-size: cover;

    @include resp (tab-port) {
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    }

    @include resp (phone) {
        clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 95%);
    }

    &__logo-box {
        position: absolute;
        top: 6rem;
        left: 6rem;
        
        @include resp (tab-port) {
            top: 4rem;
            left: 4rem;
        }
    }

    &__logo {
        height: 5rem;
    }

    &__textbox {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}
