.card {
    perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        color: $color-text;
        position: absolute;
        height: 50rem;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: all .8s ease;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

        &--back {
            transform: rotateY(-180deg);

            &-1 {                
                background-image: linear-gradient( 
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark);
            }

            &-2 {                
                background-image: linear-gradient( 
                    to right bottom,
                    $color-primary-light,
                    $color-primary-dark);
            }

            &-3 {                
                background-image: linear-gradient( 
                    to right bottom,
                    $color-tertiary-light,
                    $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    //FRONT

    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

        &--1 {            
            background-image: linear-gradient( 
                to right bottom,
                $color-secondary-light,
                $color-secondary-dark), 
            url(../img/nat-5.jpg);
        }

        &--2 {            
            background-image: linear-gradient( 
                to right bottom,
                $color-primary-light,
                $color-primary-dark), 
            url(../img/nat-6.jpg);
        }

        &--3 {            
            background-image: linear-gradient( 
                to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark), 
            url(../img/nat-7.jpg);
        }
    }

    &__details {
        padding: 2rem;

        ul {
            list-style: none;
            width: 70%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.6rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 2px solid $color-text-light;
                }

                &:last-child {
                    font-weight: 700;
                    font-size: 1.8rem;
                }
            }
        }
    }

    //BACK

    &__cta {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &__price-box {        
        margin-bottom: 4rem;
    }
}