.card {
    -webkit-perspective: 150rem;
            perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        color: $color-text;
        position: absolute;
        height: 52rem;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        -webkit-transition: all .8s ease;
        transition: all .8s ease;
        width: 100%;
        border-radius: 4px;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
                box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

        &--back {
            -webkit-transform: rotateY(-180deg);
                    transform: rotateY(-180deg);

            &-1 {                
                background-image: -webkit-gradient( 
                    linear,
                    left top, right bottom,
                    from($color-secondary-light),
                    to($color-secondary-dark));                
                background-image: linear-gradient( 
                    to right bottom,
                    $color-secondary-light,
                    $color-secondary-dark);
            }

            &-2 {                
                background-image: -webkit-gradient( 
                    linear,
                    left top, right bottom,
                    from($color-primary-light),
                    to($color-primary-dark));                
                background-image: linear-gradient( 
                    to right bottom,
                    $color-primary-light,
                    $color-primary-dark);
            }

            &-3 {                
                background-image: -webkit-gradient( 
                    linear,
                    left top, right bottom,
                    from($color-tertiary-light),
                    to($color-tertiary-dark));                
                background-image: linear-gradient( 
                    to right bottom,
                    $color-tertiary-light,
                    $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

    &:hover &__side--back {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }

    //FRONT

    &__picture {
        background-size: cover;
        height: 20rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

        &--1 {            
            background-image: -webkit-gradient( 
                linear,
                left top, right bottom,
                from($color-secondary-light),
                to($color-secondary-dark)), 
            url(../img/nat-5.jpg);         
            background-image: linear-gradient( 
                to right bottom,
                $color-secondary-light,
                $color-secondary-dark), 
            url(../img/nat-5.jpg);

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                background-image: linear-gradient( 
                    to right bottom,
                    rgba($color-secondary-light, 0.35),
                    rgba($color-secondary-dark, 0.35)), 
                url(../img/nat-5.jpg);
            }
            
        }

        &--2 {            
            background-image: -webkit-gradient( 
                linear,
                left top, right bottom,
                from($color-primary-light),
                to($color-primary-dark)), 
            url(../img/nat-6.jpg);            
            background-image: linear-gradient( 
                to right bottom,
                $color-primary-light,
                $color-primary-dark), 
            url(../img/nat-6.jpg);

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                background-image: linear-gradient( 
                    to right bottom,
                    rgba($color-primary-light, 0.35),
                    rgba($color-primary-dark, 0.35)), 
                url(../img/nat-6.jpg);
            }
        }

        &--3 {            
            background-image: -webkit-gradient( 
                linear,
                left top, right bottom,
                from($color-tertiary-light),
                to($color-tertiary-dark)), 
            url(../img/nat-7.jpg);            
            background-image: linear-gradient( 
                to right bottom,
                $color-tertiary-light,
                $color-tertiary-dark), 
            url(../img/nat-7.jpg);

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                background-image: linear-gradient( 
                    to right bottom,
                    rgba($color-tertiary-light, 0.35),
                    rgba($color-tertiary-dark, 0.35)), 
                url(../img/nat-7.jpg);
            }
        }
    }

    &__details {
        padding: 2rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.6rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 2px solid $color-text-light;
                }

                &:last-child {
                    font-weight: 700;
                    font-size: 1.8rem;
                }
            }
        }
    }

    //BACK

    &__cta {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }

    // TYPOGRAPHY
    
    &__heading {
        font-size: 2.8rem;
        text-transform: uppercase;
        font-weight: 300;    
        color: $color-text-light;
        text-align: right;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 68.75%;

        &-span {
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
        
            &--1 {
                padding: 1rem;
                background-image: -webkit-gradient( 
                    linear,
                    left top, right bottom,
                    from(rgba($color-secondary-light, 0.9)),
                    to(rgba($color-secondary-dark, 0.9))
                );
                background-image: linear-gradient( 
                    to right bottom,
                    rgba($color-secondary-light, 0.9),
                    rgba($color-secondary-dark, 0.9)
                );
            }
        
            &--2 {
                padding: 1rem;
                background-image: -webkit-gradient( 
                    linear,
                    left top, right bottom,
                    from(rgba($color-primary-light, 0.9)),
                    to(rgba($color-primary-dark, 0.9))
                );
                background-image: linear-gradient( 
                    to right bottom,
                    rgba($color-primary-light, 0.9),
                    rgba($color-primary-dark, 0.9)
                );
            }
        
            &--3 {
                padding: 1rem;
                background-image: -webkit-gradient( 
                    linear,
                    left top, right bottom,
                    from(rgba($color-tertiary-light, 0.9)),
                    to(rgba($color-tertiary-dark, 0.9))
                );
                background-image: linear-gradient( 
                    to right bottom,
                    rgba($color-tertiary-light, 0.9),
                    rgba($color-tertiary-dark, 0.9)
                );
            }
        }
    }

    &__price {
        &-box {     
            margin-bottom: 4rem;
            text-transform: uppercase;
            color: $color-text-light;
        }

        &-only {
            font-weight: 700;
            font-size: 1.4rem;
        }

        &-value {
            font-weight: 100;
            font-size: 7rem;
        }
    }

    @include resp(tab-land) {
        background-color: $color-white;
        border-radius: 4px;
        height: auto;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
                box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

        &__side {
            border-radius: 0;
            position: relative;
            height: auto;
            overflow: visible;
            -webkit-box-shadow: none;
                    box-shadow: none;

            &--back {
                -webkit-transform: rotateY(0deg);
                        transform: rotateY(0deg);                      
                -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);                      
                        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            -webkit-transform: rotateY(0deg);
                    transform: rotateY(0deg);
        }

        //FRONT

        &__picture {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        }

        //BACK

        &__cta {
            padding: 7rem 4rem 4rem;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: translate(0);
                    transform: translate(0);      
        }

        // TYPOGRAPHY
        
        &__heading {
            font-size: 2.4rem;
            top: 17rem;
            width: 95%;
            right: 1rem;
        }

        &__price {
            &-box {     
                margin-bottom: 2rem;
                text-transform: uppercase;
                color: $color-text-light;
            }

            &-only {
                font-size: 1.6rem;
            }
        }
    }
}