.composition {
    position: relative;

    &__photo {
        width: 55%;
        -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        border-radius: 2px;
        position: absolute;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        outline-offset: 0;
        outline: 0 solid transparent;

        @include resp(tab-port) {
            width: 55%;
        }

        &--p1 {
            left: 0;
            top: -2rem;
            z-index: 5;
        }

        &--p2 {
            right: 0;
            top: 2rem;
            z-index: 6;
        }

        &--p3 {
            left: 20%;
            top: 10rem;
            z-index: 7;
        }

        &:hover {
            -webkit-transform: scale(1.15) translateY(-2rem);
            transform: scale(1.15) translateY(-2rem);
            z-index: 20;

            @supports (outline-offset: 1.5rem) {
                outline-offset: 1.5rem;
                outline: 1rem solid $color-primary;
            }
        }
    }

    &:hover &__photo:not(:hover) {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }
}
