html {
    font-size: 62.5%;

    @include resp(tab-land) {
        font-size: 56.25%;
    }

    @include resp(tab-port) {
        font-size: 50%;
    }

    @include resp(big-desk) {
        font-size: 75%;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3rem;

    @include resp(tab-port) {
        padding: 1.5rem;
    }

    @include resp(phone) {
        padding: 0;
    }
}
