body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-text; 
}

.heading-primary {
    text-transform: uppercase;
    color: $color-grey-light;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        animation: moveInLeft 1s ease-out;
        font-size: 6rem;
        letter-spacing: 3.25rem;
        font-weight: 400;
        margin-bottom: 1rem;

        @include resp (phone) {
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    }

    &--sub {
        display: block;
        animation: moveInRight 1s ease-out;
        font-size: 2rem;
        letter-spacing: 1.6rem;
        font-weight: 700;

        @include resp (phone) {
            letter-spacing: 1rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include resp (tab-port) {
        font-size: 3.2rem;
    }

    @include resp (phone) {
        font-size: 2.8rem;
    }

    &:hover {
        transform: scale(1.1);
        text-shadow: 0 1rem 4rem rgba($color-black, .4);

        @include resp (phone) {
            transform: translateY(-1rem) scale(1.04);
        }
    }
}

.heading-tertiary {
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}